<%= form_for(@inventory, :html => {:role => "form" }) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {mymodel: @inventory } %>

  <%= f.hidden_field :original_updated_at %>

  <div class='row'>
    <% if @inventory.id.nil? %>
      <div class='col-sm-6 col-md-3'>            
        <div class='form-group'>
          <%= f.label :product_type_id, _("Product type") %>            
          <%= render :partial => 'elements/product_picker', :locals => { model_name: "inventory[product_type_id]", product_type_id: @inventory.product_type_id, id: f.object_id } %>            
        </div>
      </div>

    <% else %>
      <div class='col-sm-6 col-md-2'>            
        <div class='form-group'>
          <%= f.label :product_type_id, _("Product type") %>            
          <br>
          <label class="label label-default large-label"><%= @inventory.product_type.display_name %></label>
        </div>
      </div>
      
    <% end %>    
    <div class="col-sm-8 col-md-3">
      <div class='form-group'>
          <%= f.label :purchase_order_id, _("Purchase Order") %>
          <% if !@inventory.purchase_order.nil? %>
            <label style="float:right;">
              <a href="<%= edit_purchase_order_path(@inventory.purchase_order_id) %>"><i class="fa fa-ticket space-right "></i><%= "#{@inventory.purchase_order_id}" %></a>
              </label>                
          <% end %>
          <select class="form-control ajax_purchase_order_picker" name="inventory[purchase_order_id]" id="inventory_purchase_order_id">
            <% if !@inventory.purchase_order.nil? %>
              <option value="<%= @inventory.purchase_order_id %>"><%= @inventory.purchase_order.label_text %></option>
            <% end %>
          </select>                        
      </div>          
    </div>
    <div class='col-sm-6 col-md-3 show_if_new_order'>
        <div class='form-group'>
            <%= f.label :new_purchase_order_supplier_id, _("Supplier") %>
            <label style="float:right;"><a href="<%= new_supplier_path %>" target="_blank"><i class="fa fa-user-plus space-right "></i><%= _('Add New Supplier') %></a></label>
            <%= render :partial => 'elements/supplier_picker', :locals => {model_name: 'inventory', supplier: nil, field_name: "new_purchase_order_supplier_id" } %>                        
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class='form-group'>
          <%= f.label :amount_received, _("Amount KG Delivered") %>
          <%= f.text_field :amount_received, :class => "form-control" %>
      </div>          
    </div>
  </div>  
  <div class='row'>
    <div class='col-sm-4 col-md-2'>    
        <div class='form-group'>
            <%= f.label :amount, _("Current Amount Kg") %>
            <%= f.text_field :amount, :class => "form-control" %>
        </div>
    </div>
    <div class='col-sm-4 col-md-2'>    
        <div class='form-group'>
            <%= f.label :purchased_price, _("Purchased price per kg in som") %>
            <%= f.text_field :purchased_price, :class => "form-control" %>
        </div>
    </div> 
    <div class='col-sm-4 col-md-2'>    
        <div class='form-group'>
            <%= f.label :other_costs, _("Other Costs") %>
            <%= f.text_field :other_costs, :class => "form-control" %>
        </div>
    </div> 
    <%= render :partial => 'elements/currency_type_rate', :locals => { model_name: "inventory", currency_type_value: @inventory.currency_type, currency_rate_value: @inventory.currency_rate, id: f.object_id } %>       
  </div>    
  <div class='row'>               
    <div class='col-sm-8 col-md-2'>    
        <div class='form-group'>
            <%= f.label :purchased_date, _("Delivered date") %>            
            <%= render :partial => 'elements/datetime_picker', :locals => {model_name: 'inventory', field_name: "purchased_date", value: @inventory.purchased_date } %>                        
        </div>
    </div> 
    <div class='col-sm-4 col-md-2'>    
        <div class='form-group'>
            <%= f.label :location_id, _("Location") %>            
            <%= f.select(:location_id, options_for_select(Location::active_select_options), {}, { :class => 'selectpicker show-tick', 'data-width' => '100%', 'data-selected' => @inventory.location_id}) %>
        </div>
    </div>     
  </div>    
  <div class="row">
    <div class="col-sm-8 col-md-6"> 
      <div class="panel panel-default my-collapse-panel">                        
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#inv_tests">
              <h3 class="panel-title"><i class="fa fa-eyedropper space-right"></i><%= _('Tests') %></h3>
            </div>
            <div id="inv_tests" class="panel-body collapse">
              <div class="row">
                <div class="col-sm-4 ">
                  <div class="form-group">
                     <%= f.label :delivery_photo, _("Upload Image"), :style => "display:block;"  %>
                     <%= render :partial => 'elements/image_upload_element', :locals => {f: f, :key => :delivery_photo, file: @inventory.delivery_photo, img_classes: "image-sample smaller_image" } %>
                  </div>
                </div> 
              </div>
              <div class='row'>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :density, _("Density (kg/h)") %>
                          <%= f.text_field :density, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :protein_percent, _("Protein Percent") %>
                          <%= f.text_field :protein_percent, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :moisture_percent, _("Moisture Percent") %>
                          <%= f.text_field :moisture_percent, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :oil_percent, _("Oil Percent") %>
                          <%= f.text_field :oil_percent, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :fiber_percent, _("Fiber Percent") %>
                          <%= f.text_field :fiber_percent, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :urea_activity_percent, _("Urea Activity Percent") %>
                          <%= f.text_field :urea_activity_percent, :class => "form-control" %>                          
                      </div>
                  </div>
                  <div class='col-sm-6'>
                      <div class='form-group'>                          
                          <%= f.label :calcium_percent, _("Calcium Percent") %>
                          <%= f.text_field :calcium_percent, :class => "form-control" %>                          
                      </div>
                  </div>                                  
              </div>              
          </div>

      </div>
    </div>
  </div>
<div class='row'>
  <div class='col-sm-3'>          
      <%= f.submit @inventory.id == nil ? _("Create Inventory") : _('Update Inventory'), :class => 'btn btn-primary' %>
  </div> 
</div>   
<% end %>    

<script>

var ready;
ready = function() {
  $('.show_if_new_order').hide();

  $('#inventory_amount_received').change(function(){
    if(!$('#inventory_amount').val()){
      $('#inventory_amount').val($(this).val())
    }
  })

  $('.product-picker').change(function(){
    $(".ajax_purchase_order_picker").val(null).trigger("change");
  });



  $(".ajax_purchase_order_picker").select2({
  ajax: {
    url: "/purchase_orders/for_product_types",
    dataType: 'json',
    delay: 250,
    data: function (params) {
      return {
        q: params.term, // search term
        product_type_id: $('.product-picker').val(), 
        inventory_id: '<%= @inventory.id %>',
        page: params.page
      };
    },
    processResults: function (data, page) {
          
      // parse the results into the format expected by Select2.
      // since we are using custom formatting functions we do not need to
      // alter the remote JSON data
      return {
        results: data
      };
    }    
  },
  minimumInputLength: 0

}).on("change", function(handler){

  if($(this).val() == "0") {
    $('.show_if_new_order').show();    
  } else {
    $('.supplier-picker').val('');
    $('.show_if_new_order').hide();
  }

  $.ajax({
      url: '/purchase_orders/get_negotiated_price_for/{0}'.format($(this).val()), 
      type: 'GET',
      dataType: 'json',      
      success: function(result){
        $('#inventory_purchased_price').val(result["price"])
      }
    })

});

};

$(document).ready(ready);
$(document).on('page:load', ready);
</script>   

