<%= form_for(@permission, :html => {:role => "form" }) do |f| %>
  <% if @permission.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h4>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-sm-5'>    
        <div class='form-group'>
            <%= f.label :name %>
            <%= f.text_field :name, :class => "form-control" %>
        </div>
    </div> 
  </div>  
  <div class='row'>
    <div class='col-sm-5'>    
        <div class='form-group'>
            <%= f.label :action %>
            <%= f.text_field :action, :class => "form-control" %>
        </div>
    </div> 
  </div>  
  <div class='row'>
    <div class='col-sm-5'>    
        <div class='form-group'>
            <%= f.label :subject_class %>
            <%= f.text_field :subject_class, :class => "form-control" %>
        </div>
    </div> 
  </div>  
<div class='row'>
  <div class='col-sm-3'>    
      <%= f.submit :class => "btn btn-primary" %>
  </div> 
</div>   
<% end %>    