<%%= form_for(@<%= singular_table_name %>, :html => {:role => "form" }) do |f| %>
  <%%= render :partial => 'shared/form_errors', :locals => {mymodel: @<%= singular_table_name %> } %>

  <%%= f.hidden_field :original_updated_at %>

<% attributes.each do |attribute| -%>
  <div class='row'>
    <div class='col-sm-4'>    
        <div class='form-group'>
            <%%= f.label :<%= attribute.name %>, _("<%= attribute.name.humanize %>") %>
            <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "form-control" %>
        </div>
    </div> 
  </div>  
<% end -%>
<div class='row'>
  <div class='col-sm-3'>          
      <%%= f.submit @<%= singular_table_name %>.id == nil ? _("Create <%= human_name %>") : _('Update <%= human_name %>'), :class => 'btn btn-primary' %>
  </div> 
</div>   
<%% end %>    