<div class="page-header">
  <% if can? :create, Role %>
    <%= link_to new_role_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Role
    <% end %>
  <% end %>
  <h1>Listing roles</h1>
</div>

<%= render :partial => 'shared/index_search', :locals => {path: roles_path } %>
<div class="row">
  <table class="table table-striped table-bordered table-condensed index-table">
    <thead>
      <tr>
        <th class="id-col"><%= sortable "id", "Id" %></th>
        <th><%= sortable "name", _('Name') %></th>            
        <th></th>        
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @roles) do |role| %>
        <td><%= link_to role.id, role %></td>
        <td><%= role.name %></td>            
        <td>
          <% if !role.is_super_admin %>
            <% if can? :update, role %>
              <%= link_to 'Edit', edit_role_path(role), { :class=>"btn btn-primary" } %>
            <% end %>
            <% if can? :destroy, role %>
              <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger"  %>
            <% end %>
          <% end %>
        </td>        
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @roles %>