<!DOCTYPE html>
<html>
<head>
  <title>Dutch Nature</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>    
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

    <% if params[:plain_layout] == "true" %>
        <div class="container print-layout">   
            <div class="row">
                <div class="col-lg-12">
                    <% flash.each do |name, msg| %>
                      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= msg %>
                      <% end %>
                    <% end %>

                    <%= yield %>
                </div>            
            </div>        
        </div>

    <% else %>    

        <div id="wrapper">
            
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"><%= _('Toggle navigation') %></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="<%= root_path %>">                
                    <% if Setting.first.logo.exists? %>
                        <%= image_tag Setting.first.logo.url(:med), style: "height:35px;" %>
                    <% else %>
                        <i class="fa fa-leaf fa-pad-r"></i>Dutch Nature                    
                    <% end %>                    
                    </a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">    


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-plus-square fa-3"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= new_order_path %>">
                                    <i class="fa fa-tags space-right"></i>                                
                                    <%= _('New Order') %>
                                </a>
                            </li>
                            <li><a href="<%= new_client_path %>">
                                    <i class="fa fa-users space-right"></i>                                
                                    <%= _('New Client') %>
                                </a>
                            </li>                        
                            <li>
                                <a href="<%= new_ration_path %>">
                                    <i class="fa fa-filter space-right"></i>                                
                                    <%= _('New Ration') %>
                                </a>
                            </li>
                            <li>
                                <a href="<%= new_purchase_order_path %>">
                                    <i class="fa fa-ticket space-right"></i>                                
                                    <%= _('New Purchasing Order') %>
                                </a>
                            </li>
                            
                            <li>
                                <a href="<%= new_inventory_path %>">
                                    <i class="fa fa-book space-right"></i>                                
                                    <%= _('New Inventory Delivery') %>
                                </a>
                            </li>
                            
                        </ul>                    
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">                        
                            <span id="new-notifications-counter" class="label label-warning label-as-badge"></span>
                            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>                        
                        </a>
                        <ul class="dropdown-menu dropdown-alerts" id="top-notifications" data-url="<%= notifications_url %>">                        
                            <!-- The items are loaded by the NotificationPoller in application.js -->
                            <li>
                                <a class="text-center" href="<%= notifications_url %>">
                                    <strong><%= _('See All Notifications') %></strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle language-dropdown" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-language fa-3"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts language-alerts">
                            <li><a href="<%= current_url_for_locale(:en) %>" data-skip-pjax>English</a></li>
                            <li><a href="<%= current_url_for_locale(:ru) %>" data-skip-pjax>Русский</a></li>
                        </ul>                    
                    </li>
                    <li>
                        <a href="<%= devise_users_sign_out_path %>"><i class="fa fa-fw fa-power-off"></i><%= _(' Log Out') %></a>   
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="<%= root_path %>"><i class="fa fa-fw fa-dashboard"></i><%= _('Dashboard') %></a>
                            </li>
                            <li>
                                <a href="#menuClientsDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuClientsDropdown') ? '' : 'collapsed' %>"><i class="fa fa-users fa-fw"></i><%= _('Clients') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse <%= @menu_expands.include?('menuClientsDropdown') ? 'in' : '' %>" id="menuClientsDropdown">
                                    <li>
                                        <a href="<%= clients_path %>"><i class="fa fa-fw fa-list"></i><%= _('Clients') %></a>
                                    </li>                                    
                                    <li>
                                        <a href="<%= client_discounts_path %>"><i class="fa fa-fw fa-smile-o"></i><%= _('Client Discounts') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= bulk_discounts_path %>"><i class="fa fa-fw fa-money"></i><%= _('Bulk Discounts') %></a>
                                    </li>    
                                     <li>
                                        <a href="<%= location_discounts_path %>"><i class="fa fa-fw fa-truck"></i><%= _('Location Discounts') %></a>
                                    </li>                                
                                    <li>
                                        <a href="<%= duplicate_clients_path %>"><i class="fa fa-fw fa-copy"></i><%= _('Possible Duplicates') %></a>
                                    </li>                                
                                </ul>


                            </li>
                            <li>                            
                                <a href="#menuOrdersDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuOrdersDropdown') ? '' : 'collapsed' %>"><i class="fa fa-tags fa-fw"></i><%= _('Orders') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse <%= @menu_expands.include?('menuOrdersDropdown') ? 'in' : '' %>" id="menuOrdersDropdown">
                                    <li>
                                        <a href="<%= orders_path %>"><i class="fa fa-fw fa-list"></i><%= _('View') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= order_credit_payments_path %>"><i class="fa fa-fw fa-credit-card"></i><%= _('Credit Payments') %></a>
                                    </li>                                    
                                    <li>                                    
                                        <a href="<%= order_reports_path %>"><i class="fa fa-fw fa-pie-chart"></i><%= _('Reports') %></a>
                                    </li>                                                                                
                                </ul>
                            </li> 
                            <li>
                                <a href="<%= rations_path %>"><i class="fa fa-fw fa-filter"></i><%= _('Rations') %></a>
                            </li>
                            <li>                            
                                <a href="#menuPurchasingDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuPurchasingDropdown') ? '' : 'collapsed' %>"><i class="fa fa-ticket fa-fw"></i><%= _('Purchasing Orders') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse <%= @menu_expands.include?('menuPurchasingDropdown') ? 'in' : '' %>" id="menuPurchasingDropdown">
                                    <li>
                                        <a href="<%= purchase_orders_path %>"><i class="fa fa-fw fa-ticket"></i><%= _('Purchasing Orders') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= purchase_payments_path %>"><i class="fa fa-fw fa-money"></i><%= _('Purchasing Payments') %></a>
                                    </li>                                                                                                        
                                    <li>
                                        <a href="<%= suppliers_path %>"><i class="fa fa-fw fa-group"></i><%= _('Suppliers') %></a>
                                    </li>                                
                                    <li>                                    
                                        <a href="<%= purchase_reports_path %>"><i class="fa fa-fw fa-pie-chart"></i><%= _('Reports') %></a>
                                    </li>                                                                                
                                </ul>
                            </li>

                            <li>                            
                                <a href="#menuInvDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuInvDropdown') ? '' : 'collapsed' %>"><i class="fa fa-book fa-fw"></i><%= _('Inventory') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse <%= @menu_expands.include?('menuInvDropdown') ? 'in' : '' %>" id="menuInvDropdown">
                                    <li>
                                        <a href="<%= inventories_path %>"><i class="fa fa-fw fa-list"></i><%= _('View') %></a>
                                    </li>
                                    <li>
                                        <a href="#menueInvTasksDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menueInvTasksDropdown') ? '' : 'collapsed' %>"><i class="fa fa-fw fa-ellipsis-v"></i><%= _('Inventory Tasks') %><span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level collapse <%= @menu_expands.include?('menueInvTasksDropdown') ? 'in' : '' %>" id="menueInvTasksDropdown">
                                            <li>
                                                <a href="<%= inventory_adjustments_path %>"><i class="fa fa-fw fa-eraser"></i><%= _('Adjust Inventory') %></a>
                                            </li>
                                            <li>
                                                <a href="<%= extruded_inventories_path %>"><i class="fa fa-fw fa-flask"></i><%= _('Extrude Inventory') %></a>
                                            </li>
                                            <li>
                                                <a href="<%= extruded_inventories_reports_path %>"><i class="fa fa-fw fa-flask"></i><i class="fa fa-fw fa-pie-chart"></i><%= _('Ex Reports') %></a>
                                            </li>
                                            <li>
                                                <a href="<%= inventory_transports_path %>"><i class="fa fa-fw fa-exchange"></i><%= _('Move Inventory') %></a>
                                            </li>     
                                            <li>
                                                <a href="<%= inventory_transports_reports_path %>"><i class="fa fa-fw fa-exchange fa-pie-chart"></i><%= _('Move Inventory Reports') %></a>
                                            </li>                                     
                                            <li>
                                                <a href="<%= limestone_conversions_path %>"><i class="fa fa-fw fa-ellipsis-h"></i><%= _('Limestone conversions') %></a>
                                            </li>
                                        </ul>
                                    </li>                                                                                    
                                    <li>
                                        <a href="<%= locations_path %>"><i class="fa fa-fw fa-truck"></i><%= _('Locations') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= product_types_path %>"><i class="fa fa-fw fa-cubes"></i><%= _('Product Types') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= price_sheet_path %>"><i class="fa fa-fw fa-calculator"></i><%= _('Price Sheet') %></a>
                                    </li>
                                    <li>
                                        <a href="#menuFlocksDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuFlocksDropdown') ? '' : 'collapsed' %>"><i class="fa fa-fw fa-ellipsis-v"></i><%= _('Flocks') %><span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level collapse <%= @menu_expands.include?('menuFlocksDropdown') ? 'in' : '' %>" id="menuFlocksDropdown">
                                            <li>
                                                <a href="<%= flocks_path %>"><i class="fa fa-fw fa-leaf"></i><%= _('Flocks') %></a>   
                                            </li>
                                            <li>
                                                <a href="<%= flock_reports_path %>"><i class="fa fa-fw fa-pie-chart"></i><%= _('Flock Reports') %></a>   
                                            </li>
                                        </ul>                                    
                                    </li>
                                    <li>                                    
                                        <a href="<%= inventory_reports_path %>"><i class="fa fa-fw fa-pie-chart"></i><%= _('Reports') %></a>
                                    </li>
                                    <li>                                    
                                        <a href="<%= inventory_history_totals_report_path %>"><i class="fa fa-fw fa-calendar"></i><%= _('End Of Day Totals') %></a>
                                    </li>
                                    <li>                                    
                                        <a href="<%= raw_material_usage_report_path %>"><i class="fa fa-fw fa-percent"></i><%= _('Raw Material Usage') %></a>
                                    </li>
                                    <li>                                    
                                        <a href="<%= inventory_change_log_report_path %>"><i class="fa fa-fw fa-history"></i><%= _('Change Log') %></a>
                                    </li>                                                                                
                                    <li>                                    
                                        <a href="<%= inventory_delivery_reports_path %>"><i class="fa fa-fw fa-truck"></i><i class="fa fa-fw fa-pie-chart"></i><%= _('Delivery Reports') %></a>
                                    </li>  
                                </ul>
                            </li>                         
                            <li>
                                <a href="#menuFeedMillDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuFeedMillDropdown') ? '' : 'collapsed' %>"><i class="fa fa-building fa-fw"></i><%= _('Feed Mill') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level <%= @menu_expands.include?('menuFeedMillDropdown') ? 'in' : '' %>" id="menuFeedMillDropdown">
                                    <li>
                                        <a href="<%= feed_mill_jobs_path %>"><i class="fa fa-fw fa-list"></i><%= _('View') %></a>
                                    </li>                                
                                    <li>
                                        <a href="<%= feed_mill_reports_path %>"><i class="fa fa-fw fa-pie-chart"></i><%= _('Reports') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= feed_mill_ingredient_usage_reports_path %>"><i class="fa fa-fw fa-book"></i><i class="fa fa-fw fa-pie-chart"></i><%= _('Ingredient Usage') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= feed_mill_accounting_reports_path %>"><i class="fa fa-fw fa-calculator"></i><i class="fa fa-fw fa-pie-chart"></i><%= _('Accounting') %></a>
                                    </li>
                                </ul>                            
                            </li>
                            <li>                            
                                <a href="#menuReportsDropdown" data-toggle="collapse" class="collapsed"><i class="fa fa-pie-chart fa-fw"></i><%= _('Reports') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" id="menuReportsDropdown">
                                    <li>
                                        <a href="<%= inventory_reports_path %>"><i class="fa fa-fw fa-book"></i><%= _('Inventory Reports') %></a>
                                    </li>
                                    <li>                                    
                                        <a href="<%= todo_path %>"><i class="fa fa-fw fa-tags"></i><%= _('Order Reports') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= todo_path %>"><i class="fa fa-fw fa-users"></i><%= _('Client Reports') %></a>
                                    </li>                                                            
                                </ul>
                            </li>
                                
                            <li>                            
                                <a href="#menuSettingsDropdown" data-toggle="collapse" class="<%= @menu_expands.include?('menuSettingsDropdown') ? '' : 'collapsed' %>"><i class="fa fa-wrench fa-fw"></i><%= _('Settings') %><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse <%= @menu_expands.include?('menuSettingsDropdown') ? 'in' : '' %>" id="menuSettingsDropdown">
                                    <li>
                                        <a href="<%= settings_path %>"><i class="fa fa-fw fa-cog"></i><%= _('System Settings') %></a>
                                    </li>
                                    <li>                                    
                                        <a href="<%= users_path %>"><i class="fa fa-fw fa-user-plus"></i><%= _('Manage users') %></a>
                                    </li>
                                    <li>
                                        <a href="<%= roles_path %>"><i class="fa fa-fw fa-key"></i><%= _('Roles') %></a>
                                    </li>                                                            
                                </ul>
                            </li>                                    
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">                	

                        <% flash.each do |name, msg| %>
                          <%= content_tag :div, :class => "alert alert-#{name} alert-dismissable" do %>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <%= msg %>
                          <% end %>
                        <% end %>

                        <div id="pjax-container">                        

                          <!-- IMPORTANT this div stops pjax from loading content outside of the pjax-container -->
                          <div class="inner-pjax-container">
                            <%= yield %>
                          </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
    <!-- /#wrapper -->
    <% end %>

</body>

</html>
